*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
body{
    height: 100%;
    width: 100%;
    background-size: contain;
    background-color:#343f4f;
}
.wrapper{
    background-color:aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 10%;
    position: absolute;
    top: 300px;
    left: 500px;
    border-radius: 23px;
}
.wrapper span{
    width: 100%;
    align-items: center;

}
span{
    display: flex;
    justify-content: center;
    left: 60px;
    font-weight: 600;
    font-size: 40px;
    cursor: pointer;
}
.wrapper span.num{
    font-size: 35px;
    border-right: solid rgba(0, 0, 0, 0.2);
    border-left: solid rgba(0, 0, 0, 0.2);
}
.wrapper span.minus{
    font-size: 35px;
    border-right: solid rgba(0, 0, 0, 0.2);
}
span.minus:hover{
    background-color: rgb(255, 109, 109);
    transition: 2s;

}
span.plus:hover{
    background-color: rgb(95, 230, 124);
    transition: 2s;

}
span.minus{
    border-radius: 100px;
}
span.plus{
    border-radius: 100px;
}